<!DOCTYPE html>
<html>
<head>
  <title>Manderley</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>


</head>

  <body class="padding margin">

    <header class="padding-top">
    </header>

    <section class="row bck light">

    <%= yield %>

    </section>

    <footer>
    </footer>

  </body>

</html>
